<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
         xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
         xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
         IgnorableNamespaces="uap rescap desktop4 desktop5 com">
  <Identity Name="40885WilliamKent2015.MSIViewer" Publisher="CN=382B267D-6047-4C7A-8414-C3EC3B88FF82" Version="3.0.0.0" />

  <Properties>
    <DisplayName>MSI Viewer</DisplayName>
    <PublisherDisplayName>William Kent</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.22000.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US"/>
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="MSI Viewer" Description="Open MSI files and extract their contents."
                          BackgroundColor="transparent" Square150x150Logo="Images\Square150x150Logo.png" Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Square71x71Logo="Images\SmallTile.png" >
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>

      <Extensions>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop4:ItemType Type=".msi">
              <desktop4:Verb Id="OpenInMSIViewer" Clsid="754de965-4071-4a89-9620-cf6fe858dca2" />
            </desktop4:ItemType>
            <desktop4:ItemType Type=".msm">
              <desktop4:Verb Id="OpenInMSIViewer" Clsid="754de965-4071-4a89-9620-cf6fe858dca2" />
            </desktop4:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>

        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer AppId="59e303e1-2574-4fc9-8232-fdb1c0ac53fb" DisplayName="MSI Viewer">
              <com:Class Id="754de965-4071-4a89-9620-cf6fe858dca2" Path="MSIExtract.ShellExtension\MSIExtract.ShellExtension.comhost.dll" ThreadingModel="Both" ProgId="Sunburst.MSIExtract.ShellCommand" />
            </com:SurrogateServer>

            <com:ProgId Id="Sunburst.MSIExtract.ShellCommand" Clsid="754de965-4071-4a89-9620-cf6fe858dca2" />
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
