name: Continuous Delivery

on:
    push:
        tags: ['v*']

jobs:
    create_release_notes:
        runs-on: ubuntu-latest
        steps:
            - name: Create Release Notes
              id: create_release_notes
              uses: release-drafter/release-drafter@v5
              with:
                  publish: false
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        outputs:
            release_upload_url: ${{ steps.create_release_notes.outputs.upload_url }}

    build:
        runs-on: windows-latest
        needs:
            - create_release_notes

        steps:
            - name: Clone
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: Install .NET
              uses: actions/setup-dotnet@v1
              with:
                  # NOTE: Do not change this version without also updating MSIExtract.AppxPackage/Directory.Build.targets
                  dotnet-version: 5.0.100

            - name: Configure Visual Studio
              uses: microsoft/setup-msbuild@v1.0.2

            - name: Update Versions
              id: update_version
              run: |
                $ref = "${{ github.ref }}"
                if ($ref.StartsWith("refs/tags/")) {
                  $ref = $ref.Replace("refs/tags/", "")
                }

                $version = [regex]::Replace($ref, '^v(\d+(?:\.\d+){1,2})(-.+)?$', '$1$2')
                $json = Get-Content .\version.json | ConvertFrom-Json
                $json.version = $version
                $json | ConvertTo-Json | Set-Content .\version.json

                $version = [regex]::Replace($ref, '^v(\d+(?:\.\d+){1,2})(-.+)?$', '$1')
                if ($version -ne '') {
                  [xml]$manifest = Get-Content '.\src\MSIExtract.AppxPackage\Package.appxmanifest'
                  $manifest.Package.Identity.Version = "$($version).0"
                  $manifest.Save('.\src\MSIExtract.AppxPackage\Package.appxmanifest')
                }

                echo "::set-output name=version::$version"

            - name: Nerdbank.GitVersioning
              uses: dotnet/nbgv@master
              id: nbgv
              with:
                  setAllVars: true

            - name: Build
              working-directory: ./src/MSIExtract.AppxPackage
              run: |
                & MSBuild.exe /nologo /restore /bl /m /p:Configuration=Release /p:Platform=x64 `
                  /p:BuildAppxUploadPackageForUap=true `
                  /p:AppxBundle=Always `
                  /p:AppxPackageSigningEnabled=true `
                  /p:PackageCertificateThumbprint=4DFF1FA5A339F7C1F623177264249E99D4C81E45 `
                  /p:PackageCertificateKeyFile=.\cert.pfx `
                  /p:PackageCertificatePassword=1234 `
                  /p:PublicRelease=true `
                  /t:Publish

            - name: Prepare Assets for Upload
              working-directory: ./bin/AppxPackages
              run: |
                $uploads = (dir *.msixupload)
                if ($uploads.Length -ne 0) {
                  mv $uploads[0].FullName MSIViewer_${{ steps.update_version.outputs.version }}.msixupload -Verbose
                } else {
                  Write-Error "Could not find any msixupload files"
                }

                $bundles = (dir *_Test | dir -Include *.msixbundle)
                if ($bundles.Length -ne 0) {
                  mv $bundles[0].FullName MSIViewer_${{ steps.update_version.outputs.version }}_Sideload.msixbundle -Verbose
                } else {
                  Write-Error "Could not find any msixbundle files"
                }

            - name: Upload Store Assets
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ needs.create_release_notes.outputs.release_upload_url }}
                  asset_path: bin/AppxPackages/MSIViewer_${{ steps.update_version.outputs.version }}.msixupload
                  asset_name: "MSIViewer_${{ steps.update_version.outputs.version }}_Store.msixupload"
                  asset_content_type: application/zip

            - name: Upload Sideload Assets
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ needs.create_release_notes.outputs.release_upload_url }}
                  asset_path: bin/AppxPackages/MSIViewer_${{ steps.update_version.outputs.version }}_Sideload.msixbundle
                  asset_name: "MSIViewer_${{ steps.update_version.outputs.version }}_Sideload.msixbundle"
                  asset_content_type: application/zip
